<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Heso</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/static/lib/bootstrap/bootstrap-1.2.0.css">
	<link rel="stylesheet" href="/static/lib/bootstrap/bootstrap.custom.css">
	<link rel="stylesheet" href="/static/lib/codemirror/codemirror.css">
	<link rel="stylesheet" href="/static/lib/codemirror/theme/night.css">
	<link rel="stylesheet" href="/static/lib/codemirror/codemirror.custom.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>

	<header class="header">
		<div class="logo"><a href="/" class="logoa">Heso</a></div>
	</header>

	<div class="container-wrapper">
		<div class="container-fluid">
			<div class="sidebar">
			</div>
			
			<div class="content">
				<form action="/{{heso.reponame}}" method="post">
					
					<div class="well">
						<h2 class="reponame">heso: {{heso.reponame}}</h2>
						
						Description: <input type="text" name="description" value="{{heso.description}}" class="xxlarge" />
					</div>
					
					<div id="files">
						{% for file in heso.files %}
						<div class="well">
							<input type="text" name="filename[{{loop.index0}}]" value="{{file.filename}}" />
							<hr />
							<textarea name="document[{{loop.index0}}]" class="document">{{file.document}}</textarea>
						</div>
						{% endfor %}
					</div>
					
					<div class="well">
						<a id="add" href="#" class="add">add another file</a>
					</div>
					
					<div class="update">
						<input type="submit" value="Update Heso" class="btn primary" />
					</div>

				</form>
				
				<div class="comments">
					<h3>Comments</h3>
					<hr />
					{% for comment in comments %}
						{{comment}}
						<hr />
					{% endfor %}
				</div>
				
				<div class="well">
					<form action="/{{heso.reponame}}/comment" method="post" class="comment-wrapper">
						<textarea name="comment" class="comment" placeholder="comment"></textarea>
						<div>
							<input type="submit" value="add comment" class="addcomment btn"/>
						</div>
					</form>
				</div>
			
			</div> <!-- content -->
		</div> <!-- container-fluid -->
	</div> <!-- container-wrapper -->

	<footer class="footer">
		Heso  is licensed under the Apache Licence, Version 2.0.
	</footer>
	
<script src="/static/lib/codemirror/codemirror.js"></script>
<script src="/static/script.js"></script>
</body>
</html>
