<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Heso</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/bootstrap-1.2.0.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/bootstrap.custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/codemirror.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/theme/night.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/codemirror.custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<header class="header">
    <div class="logo"><a href="{{ url_for('index') }}" class="logoa">Heso</a></div>
	</header>
	
	<div class="container-wrapper">
		<div class="container-fluid">
		
			<div class="sidebar">
				{% for heso in hesoes %}
				<div>
					<a href="{{ url_for('heso', reponame=heso.reponame) }}">heso: {{heso.reponame}}</a> 
					{{heso.description}} <br />
					created {{heso.created}}
				</div>
				<hr />
				{% endfor %}
			</div>
			
			
			
			<div class="content">
			
				<div class="error-message">
					{{error_message}}
				</div>

			<form action="{{ url_for('create') }}" method="post">
					<div class="well">
						<input type="text" name="description" placeholder="description" class="xxlarge" />
					</div>
					
					<div id="files">
						<div class="well clearfix">
							<input type="text" name="filename[0]" placeholder="file name" />						
							<hr />
							<textarea name="document[0]" class="document" placeholder="document">









</textarea>
						</div> <!-- well -->
					</div>
					
					<div class="well">
						<a id="add" href="#" class="add">add another file</a>
					</div>
					
					<div class="create">
						<input type="submit" value="Create Heso" class="btn primary" />
					</div>
					
				</form>
			
			
			</div> <!-- content -->
		</div> <!-- container-fluid -->
	</div> <!-- container-wrapper -->
	
	<footer class="footer">
		Heso  is licensed under the Apache Licence, Version 2.0.
	</footer>

<script src="{{ url_for('static', filename='lib/codemirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
