<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Heso</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/bootstrap.custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/codemirror.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/theme/night.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/codemirror.custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<header class="header navbar-inner">
		<div class="logo"><a href="{{ url_for('index') }}" class="logoa">Heso</a></div>
		<div class="pull-right login-form">
			{% if 'logged_in' in session %}
			<form action="{{ url_for('logout') }}" method="get" class="form-inline">
				<span class="user-info">Welcome, {{ session.get('username') }}</span>
				<button type="submit" class="btn btn-inverse">Logout</button>
			</form>
			{% else %}
			<form action="{{ url_for('login') }}" method="post" class="form-inline">
				<input type="text" name="username" class="input-small" placeholder="username" />
				<input type="password" name="password" class="input-small" placeholder="password" />
				<button type="submit" class="btn btn-inverse">Login</button>
			</form>
			{% endif %}
		</div>
	</header>

	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span10"> <!-- content -->
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="error-message error">
					{% for message in messages %}
					<p><strong>{{ message }}</strong></p>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
				<form action="{{ action }}" method="post">
					<div class="well">
						{% if reponame %}
						<h2 class="reponame">heso: {{ reponame }}</h2>
						{% endif %}
						{{ form.description(placeholder="description", class="description input-xxlarge") }}
					</div>
					<div id="files">
						{% for ff in form.files.entries %}
						<div class="well clearfix">
							{{ ff.filename(placeholder="file name", class="filename") }}
							
							{{ ff.document(rows="16", cols="200", class="document") }}
							{{ ff.removed(value="false", class="removed") }}
							<div class="remove"><a href="#">remove</a></div>
						</div>
						{% endfor %}
					</div>

					<div class="well">
						<a id="add" href="#" class="add">add another file</a>
					</div>
					
					{% if for_create %}
					<div class="create">
						<input type="submit" value="Create Heso" class="btn btn-primary" />
					</div>
					{% else %}
					<div class="update">
						<input type="submit" value="Update Heso" class="btn btn-primary" />
					</div>
					{% endif %}

				</form>
				{% if for_create is not defined %}
				<div class="comments">
					<h3>Comments</h3>
					<hr />
					{% for comment in comments %}
						{{comment}}
						<hr />
					{% endfor %}
				</div>
				<div class="well comment-well">
					<form action="{{ url_for('comment', reponame=reponame) }}" method="post" class="comment-wrapper">
						<textarea name="comment" class="comment" placeholder="comment"></textarea>
						<div>
							<input type="submit" value="add comment" class="addcomment btn"/>
						</div>
					</form>
				</div>
				{% endif %}

			</div> <!-- content -->
			
			<div class="span2"> <!-- sidebar -->
				{% if for_create %}
				<h3>Recent Heso</h3>
				<hr />
				{% for heso in hesoes %}
				<div>
					<a href="{{ url_for('heso_latest', reponame=heso.reponame) }}">heso: {{heso.reponame}}</a> 
					{{heso.description}} <br />
					created {{heso.created}}
				</div>
				<hr />
				{% endfor %}
				{% else %}
				<h3>Revisions</h3>
				<hr />
				{% for commit in history %}
				<div>
					<a href="{{ url_for('heso', reponame=reponame, rev=commit.rev) }}">{{commit.revshort}}</a> 
					{{commit.author}} 
					{{commit.timestamp}} 
				</div>
				<hr />
				{% endfor %}
				{% endif %}
			</div>  <!-- sidebar -->
			
			
		</div> <!-- row-fluid -->
	</div> <!-- container-fluid -->

	<footer class="footer"></footer>

<script src="{{ url_for('static', filename='lib/codemirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
