<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Heso</title>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/bootstrap-1.2.0.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/bootstrap.custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/codemirror.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/theme/night.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='lib/codemirror/codemirror.custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<header class="header">
	<div class="logo"><a href="{{ url_for('index') }}" class="logoa">Heso</a></div>
	</header>

	<div class="container-wrapper">
		<div class="container-fluid">
			<div class="sidebar">
				{% for heso in hesoes %}
				<div>
					<a href="{{ url_for('heso', reponame=heso.reponame) }}">heso: {{heso.reponame}}</a> 
					{{heso.description}} <br />
					created {{heso.created}}
				</div>
				<hr />
				{% endfor %}
			</div>

			<div class="content">
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="error-message error">
					{% for message in messages %}
					<p><strong>{{ message }}</strong></p>
					{% endfor %}
				</div>
				{% endif %}
				{% endwith %}
				<form action="{{ action }}" method="post">
					<div class="well">
						<h2 class="reponame">heso: {{ reponame }}</h2>
						Description: {{ form.description(placeholder="description", class="xxlarge") }}"
					</div>
					<div id="files">
						{% for ff in form.files.entries %}
						<div class="well">
							{{ ff.filename(placeholder="file name") }}
							<hr />
							{{ ff.document(rows="16", cols="200", class="document") }}
						</div>
						{% endfor %}
					</div>

					<div class="well">
						<a id="add" href="#" class="add">add another file</a>
						{% if for_create %}
						<div class="create">
							<input type="submit" value="Create Heso" class="btn primary" />
						</div>
						{% else %}
						<div class="update">
							<input type="submit" value="Update Heso" class="btn primary" />
						</div>
						{% endif %}
					</div>

				</form>
				{% if for_create is not defined %}
				<div class="comments">
					<h3>Comments</h3>
					<hr />
					{% for comment in comments %}
						{{comment}}
						<hr />
					{% endfor %}
				</div>
				<div class="well">
					<form action="{{ url_for('comment', reponame=reponame) }}" method="post" class="comment-wrapper">
						<textarea name="comment" class="comment" placeholder="comment"></textarea>
						<div>
							<input type="submit" value="add comment" class="addcomment btn"/>
						</div>
					</form>
				</div>
				{% endif %}

			</div> <!-- content -->
		</div> <!-- container-fluid -->
	</div> <!-- container-wrapper -->

	<footer class="footer">
		Heso  is licensed under the Apache Licence, Version 2.0.
	</footer>
<script src="{{ url_for('static', filename='lib/codemirror/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
